
body {
    background-image: url("Background.jpg");
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

table, th, td {
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
}

.analysis {
    background-color: blue;
}
.online{
    background-color: brown;
}
.patterns{
    background-color: chartreuse;
}
.web {
    background-color: darkgreen;
}
.gym{
    background-color: red;
}

.poem {
    text-align: center;
}
.classes{
    width: 60%;
    table-layout: fixed;
}

p {
    margin-top: 10px;
}

h1 {
    font-size: 30px;
    background-image: url(Blue-Background.png);
}

hr {
    height: 5px;
    background-color: black;
}