
body {
    background-image: url("Background.jpg");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

table, th, td {
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
}

.analysis {
    background-color: blue;
}
.online{
    background-color: brown;
}
.patterns{
    background-color: chartreuse;
}
.web {
    background-color: darkgreen;
}
.gym{
    background-color: red;
}