
body {
    background-image: url("Background.jpg");
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

table, th, td {
    text-align: left;
    vertical-align: top;
    border: 2px solid white;
    border-collapse: collapse;
    padding: 5px;
}

table {
    border: 4px solid black;
}

th {
    background-color: hotpink;
    text-align: center;
}

.analysis {
    background-color: blue;
}
.online{
    background-color: brown;
}
.patterns{
    background-color: chartreuse;
}
.web {
    background-color: darkgreen;
}
.gym{
    background-color: red;
}

.poem {
    text-align: center;
}
.classes{
    width: 750px;
    table-layout: fixed;
}

p {
    margin-top: 10px;
}

h1 {
    font-size: 30px;
    background-image: url("Blue-Background.png");
    margin-top: 22px;
    margin-bottom: 8px;
}

h2 {
    margin-top: 9px;
    margin-bottom: 3px;
}

hr {
    height: 5px;
    background-color: black;
}
.me {
    height: 350px;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    padding: 5px;
    border: 5px solid white;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}